*{
    background-color: gray;
    font-family: 'Times New Roman', Times, serif
}

.image{
    align-self: center;
    margin: 5px;
    padding: 30px;  
}

a:hover{
    color: green;
    font-weight: bold;
    font-size: large;
}

.image:hover{
    
    color: brown;
    -webkit-animation: normal;
}